{% extends 'base.html' %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:product_list' %}">Home</a>
    </li>
{% endblock %}

{% block title %}Orders{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">Client</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.client }}</td>
            <td>{{ order.contact_number }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.product.price }}</td>
        </tr>
    {% endfor %}
      </tbody>
</table>

{% endblock %}